body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 11%;
}
h1{
  font-family:"Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 700;
  font-size:3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat";
  font-weight: 700;
}
/* navbar */
.navbar{
  padding-bottom:4.5rem;
}
.nav-item{
  padding:0 18px;
}
.nav-link{
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
/* button */
.dowbutton{
  margin:5% 3% 5% 0;
}
.image{
  width: 60%;
  transform: rotate(15deg);
  position: absolute;
  right: 20%;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.features-box{
  text-align: center;
  padding:4.5%;
}
.icon{
  color:#ef8172;
  margin-bottom: 1.5rem;
}
.icon:hover{
  color:#ff4c68;
}
/* testimonials */
#testimonials{

  text-align: center;
  background-color:#ff4c68;
  color:#fff;
}
.carousel-inner{
    padding:7% 15% ;
}


.testimonials-image{
  margin-left:20px;
  border-radius: 100%;
  width: 15%;
}
#press{
  padding:7% 15%;
  text-align: center;
  background-color:#ff4c68;
  color:#fff;
}
.press-logo{
  width: 15%;
  margin: 20px 30px 50px
}
#pricing{
  padding:100px;
}
.pricing-col{
  padding:3% 2%;
  text-align: center;
}
@media (max-width:1020px) {
  .text-title{
    text-align: center;
  }
  .image{
    position: static;
    transform: rotate(0);
    width: 70%;
  }
}
